
<!DOCTYPE HTML>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>{{ .Title }} </title>

  <style type="text/css">
    body, html {
      font-family: sans-serif;
    }
  </style>

  <script src="/static/dist/vis-timeline-graph2d.min.js"></script>
  <link href="/static/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h2>{{ .Title }}</h2>
<br />
<div id="visualization"></div>

<script type="text/javascript">

  var container = document.getElementById('visualization');
  var items = [
      {{ range $groupidx, $serie := .Series }}
       {{if $groupidx }},{{end}}
        {{range $index, $elem := $serie.Values }} {{if $index }},{{end}} { x:'{{$elem.X }}', y: {{$elem.Y}}, group: {{$groupidx}} } {{end}}
      {{ end }}
  ];

  var dataset = new vis.DataSet(items);
  var options = {
    start: '2011-05-19',
    end: '2021-05-19',
    autoResize: true,
    drawPoints: false
  };
  var graph2d = new vis.Graph2d(container, dataset, options);
</script>
</body>
</html>
